exemple-workflow-n8n.json
{
  "name": "WhatsApp - Envoyer message",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-send"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-bridge:8080/api/send",
        "authentication": "none",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json"
      },
      "id": "http-request-node",
      "name": "Envoyer message WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Message envoyé avec succès\" } }}"
      },
      "id": "respond-node",
      "name": "Répondre au Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Envoyer message WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer message WhatsApp": {
      "main": [
        [
          {
            "node": "Répondre au Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-16T12:00:00.000Z",
  "versionId": "1"
}

