workflow-whatsapp-complet-corrige.json
{
  "name": "WhatsApp MCP Assistant - Complet",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-whatsapp",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Messages WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "whatsapp-mcp-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-phone",
              "name": "phone",
              "value": "={{ $json.from.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "extract-jid",
              "name": "sender_jid",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "extract-message",
              "name": "user_message",
              "value": "={{ $json.message || $json.text || $json.body }}",
              "type": "string"
            },
            {
              "id": "extract-chat-name",
              "name": "chat_name",
              "value": "={{ $json.chat_name || $json.from.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "extract-timestamp",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "extract-is-from-me",
              "name": "is_from_me",
              "value": "={{ $json.is_from_me }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extraire Données Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-own-messages",
              "leftValue": "={{ $json.is_from_me }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-messages",
      "name": "Filtrer Messages Entrants",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "options": {
          "systemMessage": "=You are a helpful WhatsApp assistant with access to WhatsApp tools.\n\nYou can:\n- Send messages using the send_message tool\n- List chats and messages\n- Search contacts\n- Get chat information\n\nGuidelines:\n- Be helpful, friendly, and concise\n- Keep responses short (WhatsApp messages should be brief)\n- Use the available tools when needed\n- If asked to send a message, use the send_message tool\n- If asked about chats or messages, use list_chats or list_messages\n\nUser information:\n- Phone number: {{ $json.phone }}\n- Chat name: {{ $json.chat_name }}\n- Message received at: {{ $json.timestamp }}\n\nCurrent message from user: {{ $json.user_message }}"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent - WhatsApp Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [900, 480]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "memory",
      "name": "Memory - Conversation",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [900, 660]
    },
    {
      "parameters": {
        "connection": {
          "endpoint": "http://whatsapp-mcp-server:8000/run_tool",
          "serverTransport": "http-streamable",
          "authentication": "none"
        },
        "options": {}
      },
      "id": "mcp-tools",
      "name": "MCP WhatsApp Tools",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [900, 840]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-response",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response",
      "name": "Vérifier Réponse",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prepare-recipient",
              "name": "recipient",
              "value": "={{ $('Extraire Données Message').item.json.sender_jid }}",
              "type": "string"
            },
            {
              "id": "prepare-message",
              "name": "message",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-send",
      "name": "Préparer Envoi",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "connection": {
          "endpoint": "http://whatsapp-mcp-server:8000/run_tool",
          "serverTransport": "http-streamable",
          "authentication": "none"
        },
        "tool": "send_message",
        "arguments": {
          "recipient": "={{ $json.recipient }}",
          "message": "={{ $json.message }}"
        },
        "options": {}
      },
      "id": "send-response",
      "name": "Envoyer Réponse WhatsApp",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Message traité avec succès\",\n  \"received\": {\n    \"from\": \"{{ $('Extraire Données Message').item.json.phone }}\",\n    \"message\": \"{{ $('Extraire Données Message').item.json.user_message }}\"\n  },\n  \"response\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Répondre au Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-no-response",
              "name": "log",
              "value": "=Aucune réponse générée par l'agent IA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-no-response",
      "name": "Logger - Pas de Réponse",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook - Messages WhatsApp": {
      "main": [
        [
          {
            "node": "Extraire Données Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire Données Message": {
      "main": [
        [
          {
            "node": "Filtrer Messages Entrants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer Messages Entrants": {
      "main": [
        [
          {
            "node": "AI Agent - WhatsApp Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Logger - Pas de Réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - WhatsApp Assistant": {
      "main": [
        [
          {
            "node": "Vérifier Réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - WhatsApp Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Conversation": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - WhatsApp Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP WhatsApp Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - WhatsApp Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vérifier Réponse": {
      "main": [
        [
          {
            "node": "Préparer Envoi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Logger - Pas de Réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer Envoi": {
      "main": [
        [
          {
            "node": "Envoyer Réponse WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer Réponse WhatsApp": {
      "main": [
        [
          {
            "node": "Répondre au Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger - Pas de Réponse": {
      "main": [
        [
          {
            "node": "Répondre au Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T12:00:00.000Z",
  "versionId": "1"
}

